.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 15;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.modal-esc-button {
  position: absolute;
  right: 12px;
  top: 12px;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: none;
  border-radius: 4px;
  font-size: 20px;
}
